.containerWeatherApp {
    background-color: #F2E7F3;
    width: 550px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
  .weatherTitle {
    color: #5a6275;
    text-align: center;
    padding-top: 20px;
    font-size: 35px;
  }
  .searchBar {
    position: relative;
    left: 15px;
    width: 500px;
    height: 25px;
    margin-top: 10px;
    padding: 3px;
    padding-left: 5px;
    border: double 3px transparent;
    border-radius: 15px;
    background-image: linear-gradient(white, white), linear-gradient(to right, #E462E6, #6464EF);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
  .searchBar:focus{
    outline: none;
  }
  .btnSubmit{
    position: relative;
    left: -30px;
    border: none;
    background-color: white;
  }
  .temperatureAtMoment{
    color: #FEFDFF;
    font-size: 80px;
    margin-bottom: -9px;
    margin-top: 10px;
  }
  .max,.min{
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .units{
    font-size: 14px;
    position: relative;
    bottom: 40px;
  }
  .TextWeather{
    color: #FEFDFF;
    font-size: 40px;
    margin-bottom: 5px;
    margin-top: 0px;
  }
  .imgWeather {
    font-size: 60px;
    padding: 0;
    margin-top: 5px;
  }
  
  .TheWeather{
    width: 500px;
    height: 270px;
    background: linear-gradient(332deg, rgba(100,100,239) 0%, rgba(228,98,230) 90%);
    border-radius: 30px;
    padding: 7px;
    margin: 18px;
  }
  .weatherInMoment{
    position: relative;
    text-align: center;
    right: 120px;
  }
  .infoWeatherDay {
    position: relative;
    left: 280px;
    color: #FEFDFF;
    text-align: center;
    bottom: 240px;
    width: 200px;
    height: 35px;
    font-size: 20px;
  }
  .city {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 45px;
    color: #FEFDFF;
  }
  .today{
    font-size: 25px;
    color: #FEFDFF; 
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .weatherWeek {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #5a6275;
    font-size: 20px;
  }
  .location{
    display: block;
    margin: 0 auto;
    background-color: purple;
    color: white;
    padding: 10px 20px;
  }